// размерные переменные для Разм.Раст. (Большие/Средней/Малые/Откл.) на атрибутах

// временно, для наглядности размеры
:root {
  --Red: #ff0000;
  --s120: 120px;
  --s110: 110px;
  --s100: 100px;
  --s95: 95px;
  --s90: 90px;
  --s80: 80px;
  --s70: 70px;
  --s60: 60px;
  --s50: 50px;
  --s40: 40px;
  --s35: 35px;
  --s30: 30px;
  --s25: 25px;
  --s20: 20px;
  --s15: 15px;
  --s10: 10px;
  --s5: 5px;
  --s3: 3px;
  --s1: 1px;

  body[data-size="big"] {
    --width: var(--s120);
    --width-swit: var(--s100);
    --height: var(--s35);
    --font-size-big: 22px;
    -font-size-mid: 16px;
    // -font-size-small: px;
    // --border: ;
    // --border-radius: ;
    --sw4btn-top: 4px;
    --sw4btn-left: 0px;
    --bot-it-fir-mar: var(--s30);
    --bot-it-las-mar-rig: 14px;
    --bot-it-las-mar-lef: 44px;
  }
  body[data-size="mid"] {
    --width: var(--s100);
    --width-swit: var(--s95);
    --height: var(--s30);
    --font-size-big: 18px;
    -font-size-mid: 14px;
    // -font-size-small: px;
    // --border: ;
    // --border-radius: ;
    --sw4btn-top: -2px;
    --sw4btn-left: 0px;
    --bot-it-fir-mar: var(--s25);
    --bot-it-las-mar-rig: 12px;
    --bot-it-las-mar-lef: 37px;
  }
  body[data-size="small"] {
    --width: var(--s80);
    --width-swit: var(--s90);
    --height: var(--s25);
    --font-size-big: 15px;
    -font-size-mid: 12px;
    // -font-size-small: px;
    // --border: ;
    // --border-radius: ;
    --sw4btn-top: -3px;
    --sw4btn-left: -14px;
    --bot-it-fir-mar: var(--s20);
    --bot-it-las-mar-rig: 10px;
    --bot-it-las-mar-lef: 44px;
  }
  body[data-size="off"] {
    --width: var(--s60);
    --width-swit: var(--s90);
    --height: var(--s20);
    --font-size-big: 12px;
    -font-size-mid: 30px;
    // -font-size-small: px;
    // --border: ;
    // --border-radius: ;
    --sw4btn-top: 5px;
    --sw4btn-left: -20px;
    --bot-it-fir-mar: var(--s15);
    --bot-it-las-mar-rig: 8px;
    --bot-it-las-mar-lef: 27px;
  }
}

// ОБЩИЕ СТИЛИ
hr {
  margin-block-start: var(--mar-bl);
  margin-block-end: var(--mar-bl);
  border-width: var(--bor-wid);
}
.helloys {
  h1,
  h2 {
    margin: 0px 0px var(--mar-bl);
  }
}
header {
  .header__menu- {
    &bottom .menu-bottom__items,
    &top .menu-top__items {
      width: var(--width);
      height: var(--height);
      & > a {
        width: 100%;
        height: 100%;
      }
    }
  }
  // top
  .menu__top .menu-list {
    .menu-list__items {
      // height: var(--height);
      // font-size: var(--font-size-big);
      .items__link {
        width: var(--width);
        height: var(--height);
        font-size: var(--font-size-big);
        // font-weight: var(--font-weight);
        border: var(--border);
        border-radius: var(--border-radius);
      }
    }
    .items__sub {
      width: var(--width);
      .sub__li {
        &-a {
          font-size: var(--font-size-mid);
        }
      }
    }
  }
  // <m-s-switcher> (кнопки)-------------------------------------------------------------
  .header__menu-bottom {
    .menu-bottom__items {
      height: var(--height);
      width: var(--width-swit);
      &:not(:first-child) {
        margin: 0px 0px 0px var(--bot-it-fir-mar);
      }
      &:last-child {
        // width: 30px;
        margin: 0px var(--bot-it-las-mar-rig) 0px var(--bot-it-las-mar-lef);
      }
    }
  }

  // переключатели
  // (4 позиции - круг --size)
  .menu-bottom__items {
    .sw4btn {
      height: var(--height);
      width: var(--height);
      // .sw4btn-rotate {
      //   height: var(--height);
      //   width: var(--height);
      // }
      // .sw4btn {
      & > input[type="radio"],
      & i {
        height: var(--height);
        width: var(--height);
      }
      // !
      & i {
        &:before {
          box-shadow: var(--sw4btn-box-sh);
        }
        &:after {
          top: calc(50% - var(--sw4btn-top));
          left: var(--sw4btn-left);
        }
      }
      // }
    }
  }
  .m-s-switcher {
    // -1(черно зелёный)
    &-1 {
      &:before,
      &::after {
        top: var(--switcher-1-top);
      }
      label {
        height: var(--switcher-1-lab);
      }
    }
    // -2,3(черно белые)
    &.sw-blwh {
      // ??? не раб - после прокрутки sw4btn не востанав размер, приходится и здесь прописывать перем heigth, почемуто в menu-set__items не хватает
      height: var(--height);
      .swblwh {
        // height: var(--height);
        input {
          // height: var(--height);
          &:before {
            left: var(--swblwh-2-lef);
            font-size: var(--swblwh-2-fo-si);
          }
          &:after {
            right: var(--swblwh-2-rig);
            font-size: var(--swblwh-2-fo-si);
          }
        }
      }
      // .swblwh-2 {
      // input[type="swblwh-2"] {
      // }
      // }
      .swblwh-3 label {
        height: var(--height);
      }
    }
    // -4(NISNOM 1 - VX)
    &-4 {
      .toggle-button--aava label {
        height: var(--height);
        line-height: var(--height);
      }
      .toggle-button--aava .toggle-button__icon {
        height: var(--height);
        width: var(--height);
      }
    }
    // -5(3 позиции - горизонт --theme)
    &.sw-3btn {
      .sw3btn {
        height: var(--height);
      }
      .sw3btn-slider:before {
        font-size: var(--sw3btn-befo);
      }
      .sw3btn-radio__light:checked ~ .sw3btn-slider:before {
        left: calc(100% - var(--sw3btn-aft));
      }
      .sw3btn-radio__neutral:checked ~ .sw3btn-slider:before {
        left: calc(100% / 3 - var(--sw3btn-neut));
      }
      // .sw3btn-radio__dark:checked ~ .sw3btn-slider:before {
      // background-color: #b40000;
      // }

      // прописал цвет напрямую чтоб вкл после перезагр пр пустом LocalStorage
      .sw3btn-radio__dark ~ .sw3btn-slider:before {
        font-size: var(--sw3btn-befo);
      }
      // .sw3btn-slider:before {
      // left: var(--sw3btn-top);
      // }
    }
    // -7(3 позиции - круг --size)
    &.sw4btn {
      height: var(--height);
      width: var(--height);
      // .sw4btn-rotate {
      //   height: var(--height);
      //   width: var(--height);
      // }
      // .sw4btn {
      & > input[type="radio"],
      & i {
        height: var(--height);
        width: var(--height);
      }
      // !
      & i {
        &:before {
          box-shadow: var(--sw4btn-box-sh);
        }
        &:after {
          top: calc(50% - var(--sw4btn-top));
          left: var(--sw4btn-left);
        }
      }
      // }
    }
  }
}
