// основные стили Главных Компонентов Шаблона
#root {
  overflow: hidden;
}

.header,
.footer {
  padding: 1%;
  // background-color: #777;
  box-shadow: 0px 0px 15px 2px #000 inset;
}

// HEADER (ШАПКА) =======================================================================================
.header {
  .header-container {
    padding: 1%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  // ЛОГО
  .header__logo {
    display: flex;
    margin: 0;
    .header__img {
      width: 50px;
      height: 50px;
      margin: -10px 10px -10px -10px;
    }
    .header__link {
      display: flex;
      align-items: center;
      height: 30px;
      font-weight: bold;
      font-size: 30px;
      &:hover {
        color: gold;
        color: --DarkRed;
      }
      h1 {
        font-size: 100%;
        align-items: center;
      }
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
  }

  // ВЕРХНЕЕ, НИЖНЕЕ МЕНЮ (общие стили) -------------------------------------------------
  &__menu-top,
  &__menu-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    // затемняет сосед. эл. при наведении (меню)
    &:hover span:not(:hover) {
      opacity: 0.5;
    }
    .menu-top__items,
    .menu-bottom__items {
      margin-left: 30px;
      &:first-child {
        margin-left: 15px;
      }
      // .sw4btn 4х кнп. (data-size - Размеры)
      &:has([class$="sw4btn"]) {
        width: 30px;
        margin: 0px 14px 0px 30px;
      }
    }
  }
  // ВЕРХНЕЕ МЕНЮ -------------------------------------------------
  &__menu-top {
    // затемняет сосед. эл. при наведении (подменю)
    &:hover li:not(:hover) {
      opacity: 0.3;
      color: white !important;
    }
    .menu-top__items {
      position: relative;
      // НАВЕДЕНИЕ на дочерние эл-ты
      &:hover {
        // подменю при неведении
        .m-t-items__ul {
          opacity: 1;
          visibility: visible;
          transform: translate(0px, 0px);
          pointer-events: all;
        }
      }
      // ПОДМЕНЮ
      .m-t-items__ul {
        // частично из ЕжеСвет
        width: 100%;
        position: absolute;
        padding: 1px 3px 3px;
        opacity: 0;
        visibility: hidden;
        font-size: 16px;
        text-align: center;
        transform: translate(0px, 10%);
        transition: all 0.3s ease 0s;
        pointer-events: none;
        border: 2px solid #000;
        background: #ccc;
        z-index: 3;
        .m-t-its-ul__li {
          a {
            display: flex;
            justify-content: center;
            margin-top: 2px;
            padding: 2px 0px;
            color: yellow;
            background: #8d0000;
            &:hover {
              // color: green;
            }
          }
        }
      }
    }
  }

  // НИЖНЕЕ МЕНЮ -------------------------------------------------
  &__menu-bottom {
    margin-top: 3%;
  }
}

// АНИМАЦИЯ ЛОГОТИПА <logotTip(ЕжеСвет)>˅=============================================================˅
.header__logo {
  &:hover {
    animation: logoImgColor 3s linear infinite 0s;
    @keyframes logoImgColor {
      25% {
        background-color: red;
      }
      50% {
        background-color: yellow;
      }
      75% {
        background-color: blue;
      }
    }
    .header__img {
      position: inherit;
      top: 0;
      left: 0;
      width: auto;
      animation: logoImgSize 3s linear infinite 0s;
      @keyframes logoImgSize {
        0% {
          transform: rotate(0deg);
        }
        12% {
          transform: rotate(0.72turn) scale(0.5);
        }
        20% {
          transform: rotate(1.25turn);
        }
        25% {
          transform: rotate(1.25turn);
        }
        37% {
          transform: rotate(1.87turn) scale(0.5);
        }
        45% {
          transform: rotate(2.5turn);
        }
        50% {
          transform: rotate(2.5turn);
        }
        62% {
          transform: rotate(3.12turn) scale(0.5);
        }
        70% {
          transform: rotate(3.75turn);
        }
        75% {
          transform: rotate(3.75turn);
        }
        87% {
          transform: rotate(4.37turn) scale(0.5);
        }
        95% {
          transform: rotate(5turn);
        }
        100% {
          transform: rotate(5turn);
        }
      }
    }
  }
}

// MAIN (ГЛАВНАЯ) =======================================================================================
.main {
  width: 100%;
  // height: 100vh;
  // height: calc(100vh - 248.77px);
  // overflow: hidden;
  // padding: 1% 3%;
  padding: 1%;
  background-color: antiquewhite;
  & > div {
    // overflow: hidden;
    // padding: 0px 3%;
    // width: 100%;
  }
}

// FOOTER (ПОДВАЛ) =======================================================================================
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  // max-width: 1750px;
  .footer-container {
    padding: 1% 3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .footer__menu {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  .footer__copyright {
    .copyright-container {
      display: flex;
      justify-content: space-evenly;
      background: #555;
    }
  }
}

/* АНИМАЦИЯ СТРАНИЦ (2 способа - .page|pages) ======================================================================================= */
.page,
.pages {
  /* position: absolute; */
  left: 15px;
  right: 15px;
  overflow: hidden;

  /* 1 способ прописать анимацию (.page - на каждое дейтвие 4шт) */
  .page-enter {
    opacity: 0;
    transform: scale(1.1);
    /* transform: translateX(-100%); */
  }
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    /* transform: translateX(0); */
    transition: opacity 500ms, transform 500ms;
  }
  .page-exit {
    opacity: 1;
    transform: scale(1);
    /* transform: translateX(0); */
  }
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    /* transform: translateX(100%); */
    transition: opacity 500ms, transform 500ms;
  }

  /* 2 способ прописать анимацию (.pages - на два дейтвие. всего 4шт) */
  .pages-enter-active {
    /* .pages-enter { */
    animation: fade-in 500ms forwards;
  }
  .pages-exit-active {
    /* .pages-exit { */
    animation: fade-out 500ms forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
